parameters:
	ignoreErrors:
		-
			message: "#^PHPDoc tag @var with type Illuminate\\\\Cache\\\\CacheManager is not subtype of native type \\$this\\(Henzeb\\\\CacheIndex\\\\Mixins\\\\IndexMixin\\)\\.$#"
			count: 1
			path: src/Mixins/IndexMixin.php

		-
			message: "#^Conditional return type uses subject type TCacheValue which is not part of PHPDoc @template tags\\.$#"
			count: 1
			path: src/Repositories/IndexRepository.php

		-
			message: "#^Method Henzeb\\\\CacheIndex\\\\Repositories\\\\IndexRepository\\:\\:addToIndex\\(\\) has parameter \\$keys with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Repositories/IndexRepository.php

		-
			message: "#^Method Henzeb\\\\CacheIndex\\\\Repositories\\\\IndexRepository\\:\\:addToIndexOnSuccess\\(\\) has parameter \\$keys with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Repositories/IndexRepository.php

		-
			message: "#^Method Henzeb\\\\CacheIndex\\\\Repositories\\\\IndexRepository\\:\\:deleteFromIndex\\(\\) has parameter \\$key with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Repositories/IndexRepository.php

		-
			message: "#^Method Henzeb\\\\CacheIndex\\\\Repositories\\\\IndexRepository\\:\\:getIndex\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Repositories/IndexRepository.php

		-
			message: "#^Method Henzeb\\\\CacheIndex\\\\Repositories\\\\IndexRepository\\:\\:keys\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Repositories/IndexRepository.php

		-
			message: "#^Method Henzeb\\\\CacheIndex\\\\Repositories\\\\IndexRepository\\:\\:many\\(\\) has parameter \\$keys with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Repositories/IndexRepository.php

		-
			message: "#^Method Henzeb\\\\CacheIndex\\\\Repositories\\\\IndexRepository\\:\\:many\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Repositories/IndexRepository.php

		-
			message: "#^Method Henzeb\\\\CacheIndex\\\\Repositories\\\\IndexRepository\\:\\:prefixKeys\\(\\) has parameter \\$keys with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Repositories/IndexRepository.php

		-
			message: "#^Method Henzeb\\\\CacheIndex\\\\Repositories\\\\IndexRepository\\:\\:prefixKeys\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Repositories/IndexRepository.php

		-
			message: "#^Method Henzeb\\\\CacheIndex\\\\Repositories\\\\IndexRepository\\:\\:prefixKeysAssoc\\(\\) has parameter \\$assocArray with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Repositories/IndexRepository.php

		-
			message: "#^Method Henzeb\\\\CacheIndex\\\\Repositories\\\\IndexRepository\\:\\:prefixKeysAssoc\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Repositories/IndexRepository.php

		-
			message: "#^Method Henzeb\\\\CacheIndex\\\\Repositories\\\\IndexRepository\\:\\:pull\\(\\) has parameter \\$key with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Repositories/IndexRepository.php

		-
			message: "#^Method Henzeb\\\\CacheIndex\\\\Repositories\\\\IndexRepository\\:\\:put\\(\\) has parameter \\$key with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Repositories/IndexRepository.php

		-
			message: "#^Method Henzeb\\\\CacheIndex\\\\Repositories\\\\IndexRepository\\:\\:putMany\\(\\) has parameter \\$values with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Repositories/IndexRepository.php

		-
			message: "#^Method Henzeb\\\\CacheIndex\\\\Repositories\\\\IndexRepository\\:\\:unprefixKeys\\(\\) has parameter \\$keys with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Repositories/IndexRepository.php

		-
			message: "#^Method Henzeb\\\\CacheIndex\\\\Repositories\\\\IndexRepository\\:\\:unprefixKeys\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Repositories/IndexRepository.php

		-
			message: "#^Method Henzeb\\\\CacheIndex\\\\Repositories\\\\IndexRepository\\:\\:unprefixKeysAssoc\\(\\) has parameter \\$keys with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Repositories/IndexRepository.php

		-
			message: "#^Method Henzeb\\\\CacheIndex\\\\Repositories\\\\IndexRepository\\:\\:unprefixKeysAssoc\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Repositories/IndexRepository.php

		-
			message: "#^PHPDoc tag @var for variable \\$index has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Repositories/IndexRepository.php
